html { 
  background: url(images/background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.headings {
	font-family: Calibri, sans-serif;
	color: #C41E3A;
}

.button {
  background-color: #73278f;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 4px;
  transition-duration: 0.4s;
  cursor: pointer;
	border-radius: 25px;
	font-family: Calibri, sans-serif;
}

.button:hover {
	background-color: white;
	color: #73278f;
	box-shadow: 0 5px 15px rgba(148, 85, 171, .8);
}

.logout {
  background-color: #C41E3A; 
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 8px 4px;
  transition-duration: 0.4s;
  cursor: pointer;
	border-radius: 25px;
	font-family: Calibri, sans-serif;
}

.logout:hover {
	background-color: white;
	color: #C41E3A;
	box-shadow: 0 5px 15px rgba(148, 85, 171, .8);
}

.LogInDiv {
	width: 50%;
	top: 50%;
	float: left;
	height: 100%;
	text-align: center;
}

.NoAccDiv {
	width: 50%;
	top: 50%;
	float: right;
	height: 100%;
	text-align: center;
}

.content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	text-align: center;
}

.content-up{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	text-align: center;
}

.text {
	font-family: Calibri, sans-serif;
}

.content > * {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}
.content .login-buttons {
  z-index: 2;
}
.content .logo {
  z-index: 1;
	margin: 4px; 
}

.token-display {
	float: left;
}

.user-logout {
	float: right;
	text-align: center;
	display: inline-block;
}

#leaderboard-heading{
	font-family: Century Gothic;
	font-size: 60px;
}
#leaderboard-display{
	font-family: Century Gothic;
	font-size: 20px;
}

.chat{
	font-family: Calibri;
	border: 0px solid grey;
	width: 25%;
	height: 30%;
    position: fixed;
    left: 0%;
    bottom: 0%;
}
.chatmessages{
	background-color: rgba(25, 25, 25, 0.5); 	
    overflow-y: auto;
    word-wrap: break-word;
    padding: 1%;
    border: 0px solid grey;
    height: 90%;
    width: 100%;
    position: absolute;
    left: 0%;
    top: 0%;
    padding-left: 2%;
    padding-bottom: 0%;
    box-sizing: border-box;
	color: white; 
}
::-webkit-scrollbar {
    display: none;
}
.chatinput {
	background-color: rgba(10, 10, 10, 0.6);
	border: 0px solid grey;
    height: 10%;
    width: 100%;
    position: absolute;
    left: 0%;
    bottom: 0%;
    padding-left: 2%;
   	box-sizing: border-box;
	color: #b3adc7;
}
#chatinput{
	background-color: transparent;
	width: 78%;
	height: 100%;
	border: 0px solid grey;
	color: white;
}
#chatinput:focus{
	outline: none;
}

.system-text {
	font-style: italic;
	color: #8f8f8f;
}

.login-form {
	color: white;
	font-family: Calibri, sans-serif;
}

.return {
	float: left;
}

.return > button {
background-color: #73278f;
  border: none;
  color: white;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 6px 3px;
  transition-duration: 0.4s;
  cursor: pointer;
	border-radius: 25px;
	font-family: Calibri, sans-serif;
}

.return > button:hover {
	background-color: white;
	color: #73278f;
	box-shadow: 0 5px 15px rgba(148, 85, 171, .8);
}